row {
    padding: 0px 10px 0px 10px;
}
#all-about-movie {
    margin: 0px 50px 0px 50px;
}

#title {
  font-family: 'Raleway', sans-serif;
  text-align: left;
  font-size: 25px;
  font-weight: bold;
}

#imdb {

}

#info-movie {
  height: 500px;
}



