header, body {
  font-family: 'Montserrat', sans-serif;
}

h1, h3, #title-movie, .navbar-brand {
  font-family: 'Acme', sans-serif;
}

h1 {
  color:#008080;
  font-weight: bold;
  text-align: left;
}

h3 {
  color: #FC4A1A;
  font-weight: bold;
  text-align: left;  
}

/*.row {
  padding: 0px 0px 10px 0px;
}*/


/* navigation bar */
.navbar-movie {
  background-color:#008080;
  color:#ffffff;
  border-radius:0;
  margin-bottom:0;
}

.navbar-movie .navbar-nav > li > a {
  color:#fff;
}

.navbar-movie .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color:transparent;
}

.navbar-movie .navbar-brand {
  color:#eeeeee;
  font-size: 24px;
}

.navbar-movie .navbar-toggle {
  border-color: #FFFFFF;
} 

.navbar-movie .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}


/* homepage */
#movie-homepage {
  display: table;
}

.movie-cell {
  display: table-cell;
  width: 50%;
  vertical-align: top;
}

.movie-cell h1 {
  font-size: 60px;
}

#main-poster {
  padding: 120px 0px 0px 0px;
}

#message {
  font-size: 25px;
  cursor: pointer;
}

#choice {
  position:relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}


/* modal window */
.modal-header {
  background-color: #008080;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
}
.modal-title {
  color: #ffffff;
  text-align: center;
  font-size: 30px;
}

.modal-comment {
  color: #000000;
  text-align: left;
  font-size: 15px;
}







.close {
  color: #ffffff;
  opacity: 1; 
}

.small_title {
    color:#008080;
  }

.prime-circle {
  color: #ffffff;
  background-color: #008080;
  text-shadow: 2px 2px 3px black;
  border-radius: 50%;
  border-color: #ffffff;
  box-shadow: 3px 3px 10px #666;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 100%;
  font-family: 'Montserrat', sans-serif;
}



.btn, .btn-success, .btn-success:hover, .btn-block, .btn-large {
  background-color: #FC4A1A; 
  color: #ffffff; 
}


#movie-details {
  margin: 0px 25px 0px 25px;
}

#user-details {
  margin: 0px 25px 0px 25px;
  font-size: 17px;
}

#title-movie {
/*  font-family: 'Raleway', sans-serif;*/
  text-align: left;
  font-size: 40px;
  font-weight: bold;
}

#poster {
  z-index: -1; 
}

.loading {
  font-size: 20px;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

/* landscape phones and portrait tablets */
@media (max-width: 768px) {
  h1 {
    font-size: 140%;
  }

  h3 {
    font-size: 100%;
  }

  #message {
    font-size: 140%;
  }

}

/* landscape phones and small devices */
@media (max-width: 480px) {
  .navbar-default .navbar-brand,
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus
  {
    font-size: 140%;
  }

  .movie-cell {
    display: table-row;
  }

  #main-poster {
    padding: 0px 0px 0px 0px;
  }

  .movie-cell h1 {
    font-size: 40px;
    text-align: center;
  }

