h1 {
 color:#008080;
 font-weight: bold;
 text-align: center;
}

.navbar-movie {
    background-color:#008080;
    color:#ffffff;
    border-radius:0;
}

.navbar-movie .navbar-nav > li > a {
    color:#fff;
}

.navbar-movie .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}

.navbar-movie .navbar-brand {
    color:#eeeeee;
}

.row {
    padding: 0px 0px 10px 0px;
}


#movie-details {
    margin: 0px 25px 0px 25px;
}

#user-details {
    margin: 0px 25px 0px 25px;
    font-size: 17px;
}

#title-movie {
  font-family: 'Raleway', sans-serif;
  text-align: left;
  font-size: 25px;
  font-weight: bold;
}

#choice {
    position:relative;
    width: 600px;
    height: 750px;
    overflow: hidden;
}
#poster {
    z-index: -1; 
}

.piece-image {
    position: absolute;
    background-color: yellow;    
}

.prime-circle {
    color: #ffffff;
    background-color: #008080;
    text-shadow: 2px 2px 3px black;
    border-radius: 50%;
    box-shadow: 3px 3px 10px #666;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 100%;
    font-family: sans-serif;
}



