<!DOCTYPE html>
<html>
<head>
  <title>Cinemania</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{url_for('static', filename='styles.css')}}" rel="stylesheet">
</head>
<body>
  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-movie">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Cinemania</a>
      </div>
      <div id="navbar">
        <ul class="nav navbar-nav navbar-right">
          {% if "logged_in_user_id" in session %}
            <li><a href="/logout">Logout</a></li>
            <li><a href="{{ url_for('show_user', user_id= session['logged_in_user_id'])}}">
            Profile</a></li>
            <li><a id="user-settings">Settings</a></li>
          {% else %}
<!--             <li><a href="/login">Log In</a></li> -->
            <li><a href="#" id="login-cinemania">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

 
  <!-- Show flashed messages -->
  {% with messages = get_flashed_messages() %}
    {% for message in messages %}
      <div class="alert alert-warning">{{ message }}</div>
    {% endfor %}
  {% endwith %}
  
  {% block content %} put your content here {% endblock %}
  <!-- Modal LOGIN-->
  <div class="modal fade" id="Modal-Login" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
        </div>

        <div class="modal-body" style="padding:40px 50px;">
          <form role="form" method = "post">

            <div class="form-group">
              <label for="email"><span class="glyphicon glyphicon-user"></span> E-mail</label>
              <input type="email" class="form-control" id="e-mail" placeholder="Enter email" name="e-mail">
            </div>

            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
            </div>

            <button type="submit" class="btn btn-success btn-block" id="login-submit"><span class="glyphicon glyphicon-off"></span> Login</button>

          </form>

          <div>
            <br>
            <a href='/authorize'><button class="btn btn-block">Facebook</button></a>
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-default" id="sign-up" data-toggle="modal">Sign Up</button>
        </div>

      </div>
      
    </div>
  </div>


  <!-- Modal SIGNUP-->
  <div class="modal fade" id="Modal-SignUp" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Sign Up</h4>
        </div>

        <div class="modal-body" style="padding:40px 50px;">
          <form role="form" method = "post">

            <div class="form-group">
              <label for="email"><span class="glyphicon glyphicon-user"></span> E-mail</label>
              <input type="email" class="form-control" id="e-mail-signup" placeholder="Enter email" name="e-mail">
            </div>

            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="password" class="form-control" id="password-signup" placeholder="Enter password" name="password">
            </div>

            <button type="submit" class="btn btn-success btn-block" id="signup-submit"> Sign Up</button>

          </form>
        </div>

      </div>
      
    </div>
  </div>

  <footer>
    <!--<p>Hackbright Academy. Fellowship - 2017.</p>-->
  </footer>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
  "use strict"

  function checkLogin(evt){
    event.preventDefault();
    var e_mail = $('#e-mail').val();
    var password = $('#password').val();
    $.post('/login.json', {"e-mail": e_mail, "password": password}, submit);
  }

  function submit(){
      location.replace("/");
  }

  function SignUp(evt){
    event.preventDefault;
    debugger;
    var e_mail = $('#e-mail-signup').val();
    var password = $('#password-signup').val();
    $.post('/signup.json', {"e-mail": e_mail, "password": password}, submit);
  }


  $("#login-cinemania").click(function(){
    event.preventDefault();
    $("#Modal-Login").modal();
  });

  $("#login-submit").on("click", checkLogin);

  $("#sign-up").click(function(){
    event.preventDefault();
    $("#Modal-Login").modal('hide');
    $("#Modal-SignUp").modal('show');
  });

  $("#signup-submit").click("submit", SignUp);

  $("#user-settings").click(function(){
    event.preventDefault();
    $("#Modal-Settings ").modal();
  });


  </script>

</body>
</html>