<!DOCTYPE html>
<html>
<head>
  <title>Cinemania</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="{{url_for('static', filename='styles.css')}}" rel="stylesheet">
</head>
<body>
  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-movie">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCinemania" id="myNavbarButton">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
        <a class="navbar-brand" href="/" >CINEMANIA</a>
      </div>

      <div class="collapse navbar-collapse" id="navbarCinemania">
        <ul class="nav navbar-nav navbar-right">
          {% if "logged_in_user_id" in session %}
            <li><a href="/logout">Logout</a></li>
            <li><a href="{{ url_for('show_user', user_id= session['logged_in_user_id'])}}">
            Profile</a></li>
            <li><a id="user-settings">Settings</a></li>
          {% else %}
            <li><a id="login-cinemania">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

 
  <!-- Show flashed messages -->
  {% with messages = get_flashed_messages() %}
    {% for message in messages %}
      <div class="alert alert-warning">{{ message }}</div>
    {% endfor %}
  {% endwith %}
  
  {% block content %} put your content here {% endblock %}
  <!-- Modal LOGIN-->
  <div class="modal fade" id="Modal-Login" role="dialog"> 
    <div class="modal-dialog">
    
      <div class="modal-content">

        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
        </div>

        <div class="modal-body" style="padding:40px 50px;">
          <form role="form" method = "post">

            <div class="form-group">
              <label for="email"><span class="glyphicon glyphicon-user"></span> E-mail</label>
              <input type="email" class="form-control" id="e-mail" placeholder="Enter email" name="e-mail" required>
            </div>

            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
            </div>

            <button type="submit" class="btn btn-block" id="login-submit"><span class="glyphicon glyphicon-off"></span> Login</button>

          </form>

          <div>
            <br>
            <a href='/authorize'><button class="btn btn-block" style="background-color: #3b5998;"><img style="filter: invert(100%)" src="/static/glyphicons-facebook.png">&nbsp; Facebook</button></a>
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn" id="sign-up" data-toggle="modal">Sign Up</button>
        </div>

      </div>
      
    </div>
  </div>    <!-- Modal LOGIN -->


  <!-- Modal SIGNUP-->
  <div class="modal fade" id="Modal-SignUp" role="dialog">
    <div class="modal-dialog">
    
      <div class="modal-content">

        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Sign Up</h4>
        </div>

        <div class="modal-body" style="padding:40px 50px;">
          <form role="form" method = "post">

            <div class="form-group">
              <label for="email"><span class="glyphicon glyphicon-user"></span> E-mail</label>
              <input type="email" class="form-control" id="e-mail-signup" placeholder="Enter email" name="e-mail">
            </div>

            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="password" class="form-control" id="password-signup" placeholder="Enter password" name="password">
            </div>

            <button type="submit" class="btn btn-block" id="signup-submit"> Sign Up</button>

          </form>
        </div>

      </div>
      
    </div>
  </div>  <!-- Modal Sign Up -->

  <!-- Modal Settings-->
  <div class="modal fade" id="Modal-Settings" role="dialog">    <!-- Modal Register Form -->
    <div class="modal-dialog">
    
      <div class="modal-content">

        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Registration Form</h4>
        </div>

        <div class="modal-body" style="padding:40px 50px;">
          <form role="form" method = "post">
            <div class="row">

              <div class="col-xs-6">

                <div class="form-group">
                  <label for="name">Your name</label>
                  <input type="name" class="form-control" id="name" name="name">
                </div>

                <div class="form-group">
                  <label for="dob">Your birthday</label>
                  <input type="date" class="form-control" id="dob" name="dob">
                </div>

                <button type="submit" class="btn btn-block" id="save-settings"> Save</button>

              </div>

              <div class="col-xs-6" id="genres-form">
                  <p><b>Which genres do you prefer?</b></p>
              </div>

            </div>

          </form>
        </div>

      </div>
      
    </div>
  </div>  <!-- Modal Settings -->

  <footer>
    <!--<p>Hackbright Academy. Fellowship - 2017.</p>-->
  </footer>
  <!-- // <script src="http://code.jquery.com/jquery.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
  "use strict"

  function checkLogin(evt){
    event.preventDefault();
    var e_mail = $('#e-mail').val();
    var password = $('#password').val();
    $.post('/login.json', {"e-mail": e_mail, "password": password}, submit);
  }

  function submit(){
      location.replace("/");
  }

  function signUp(evt){
    event.preventDefault();
    var e_mail = $('#e-mail-signup').val();
    var password = $('#password-signup').val();
    $.post('/signup.json', {"e-mail": e_mail, "password": password}, submit);
  }

  function infoSettings(result){
    $('#name').attr('value', result["name"])
    $('#dob').attr('value', result["dob"])

    var html = '<form id="genres">';
    var i;
    for (i in result["genres"]) {
      html += '<div class="checkbox"><label><input class="genre" type="checkbox"'; 
      html += ' id="' + result["genres"][i]["name"];
      html += '" name="genre" value=' + result["genres"][i]["name"];
      if (result["genres"][i]["checked"] == "checked"){
        html += ' checked'
      }
      html += '> ' + result["genres"][i]["name"] + ' <br></label></div>';
    }
    html += '</form>'
    // $("#genres-form").append(html);
    $("#genres-form").html(html);
    $("#Modal-Settings").modal();
  }

  function saveSettings(evt){
    event.preventDefault();

    var data = {
      "test": ['test_val'],
    };

    var name = $('#name').val();
    var dob = $('#dob').val();
    var genres = []
    $('.genre').each(function() {
      if($(this).is(':checked'))
      genres.push($(this).val());
    });   

    $.post('/register.json', {"name": name, "dob": dob, "genres": genres}, submit);
  }

  $("#login-cinemania").click(function(){
    event.preventDefault();
    $("#Modal-Login").modal();
  });

  $("#login-submit").on("click", checkLogin);

  $("#sign-up").click(function(){
    event.preventDefault();
    $("#Modal-Login").modal('hide');
    $("#Modal-SignUp").modal('show');
  });

  $("#signup-submit").click("submit", signUp);

  $("#user-settings").click(function(){
    event.preventDefault();
    $.get('/register.json', infoSettings);
  });

  $("#save-settings").on("click", saveSettings)

  </script>

</body>
</html>