{% extends 'base.html' %}
{% block content %}

<!-- It's container-fluid so it spans the whole page. -->
<div class="container-fluid" id="movie-homepage"> 

  <div class="movie-cell" id="main-poster">
      <img id="img-main-poster" src="/static/film-64152_640.jpg" class="img-responsive" alt="CINEMANIA">
  </div>

  <div class="movie-cell">
    <h1>CINEMANIA</h1>
    <div id="message">    <!-- start -->
      <b>Welcome</b><br>
      Need help finding a movie?<br>
      Click &nbsp; 
      <a id="start" style="color: #FC4A1A; text-weight: bold;">here</a>
      &nbsp; to peek at randomly selected movie...
    </div>  <!-- start -->
    <div class="container" id="choice"></div>  <!-- choice -->
  </div>

</div>    <!-- movie-homepage -->
 
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
  "use strict";
 
  function playPosters(result) {
    var html = 'Please wait. Processing. . .';
    $('#message').html(html);
    $('#message').attr("style", "text-align: center;");
 
    html = '<div id="slideshow" class="carousel slide" data-ride="carousel" '+
           'data-interval="500">'+
           '<div id="carousel-poster" class="carousel-inner" role="listbox">'+
           '</div>'+'</div>';
    $('#choice').html(html);

    var temp=1;
    for(var key in result) {
      if (temp == 1) {
        html='<div class="item active">';
      } else {
        html='<div class="item">';
      }
      temp++;
      html += '<img src="'+
              key+
              '" class="img-responsive img-thumbnail center-block" alt="CINEMANIA" style="width: 55%; height: 55%">'+
              '</div>';
      $('#carousel-poster').append(html);
    } 
    $("#slideshow").carousel();

    // Start async task to find random movie
    $.get('/job', function(data) {
      var job_id = data.job_id;
      // call fn pollResults in 1 sec
      setTimeout(pollResults, 1000, job_id);
    });
  }

  // Check results every sec
  function pollResults(job_id) {
      $.ajax({
        async:true,
        url: "/results/"+job_id,
        success: function(data) {
          if (data.result === "1") {
            console.log("completed");
            location.replace("/random_movie/"+job_id);
          } else if (data.result === "0") {
            console.log("not yet");
            // call fn pollResults in 1 sec again
            setTimeout(pollResults, 1000, job_id);
          } else {
              location.replace("/");
          }
        }
      });
  }


  function showPosters(evt) {
    // evt.preventDefault();
    // var screen_width = $('#movie-homepage').outerWidth();
    // if (screen_width <= 480) {
    //   $('#img-main-poster').slideUp(function(){
    //     $.get('/static/posters/posters.json', playPosters);
    //   });
    // } else {
      $.get('/static/posters/posters.json', playPosters);
    // }
  }

  $('a#start').on('click', showPosters);


  </script>
{% endblock %}
