{% extends 'base.html' %}
{% block content %}
<!-- movie object -->

<!-- It's container-fluid so it spans the whole page. -->
<div class="container-fluid" id="movie-details"> 

  <div class="movie-row" style="margin-top: 15px">   <!-- title-rating -->
    <div id="title-movie" data-id="{{ movie.id }}">
      {{ movie.title }} 
    </div>
    <div id="rating-movie">
      <!--       <div class="row">
        <b>IMDB</b> ({{ movie.imdb_id }}): {{ movie.imdb_rating }}
      </div> -->
      {% if user_movierating %}
        <div style="margin-right: 15px; display: inline-block"><b>Your rating: </b></div>
        <div class="prime-circle" style="display: inline-block">{{user_movierating}}</div>
      {% endif %}
    </div>
  </div>              <!-- title-rating -->

  <div class="movie-row">   <!-- country -->
    
    <div class="small-title small-title-size">Country:&nbsp;&nbsp;</div> 
    <div class="content" id="country">
      {% if movie.production_countries|length != 0 %}
        {% if movie.production_countries|length > 1 %}
          {% for country in movie.production_countries[:-1] %} 
            {{ country }}, 
          {% endfor %} 
        {% endif %} 
        {{movie.production_countries[-1]}}
      {% endif %}
    </div>   
    
  </div>    <!-- country -->

  <div class="movie-row">   <!-- production -->
    
    <div class="small-title small-title-size">Production Co:&nbsp;&nbsp;</div>
    <div class="content" id="company">
      {% if movie.production_companies|length != 0 %}
        {% if movie.production_companies|length > 1 %}
          {% for company in movie.production_companies[:-1] %} 
            {{ company }}, 
          {% endfor %} 
        {% endif %} 
        {{movie.production_companies[-1]}}
      {% endif %}
    </div>
    
  </div>    <!-- production -->

  <div class="movie-row">   <!-- release -->
    
    <div class="small-title small-title-size">Release Date:&nbsp;&nbsp;</div>
    <div class="content" id="release-date">
      {{ movie.release_date }} 
    </div>

  </div>    <!-- release -->

  <div class="movie-row" id="info-movie" style="margin-top: 15px">  

    <div id="info">   <!-- info -->

      <div style="overflow: hidden">

      <div id="poster">  <!-- poster -->
        {% if movie.poster_url is not none %}
          <img src="{{ movie.poster_url }}" class="img-thumbnail" alt="No image">
        {% else %}
          <img src="/static/film-64152_640.jpg" class="img-thumbnail" alt="No image">
        {% endif %}
      </div>  <!-- poster -->

      <div class="text-justify" id="details">   <!-- details -->
        <span class="small-title">Genre:&nbsp;&nbsp;</span>
        {% if movie.genres|length != 0 %}
          {% if movie.genres|length > 1 %}
            {% for genre in movie.genres[:-1] %} 
              {{ genre }}, 
            {% endfor %} 
          {% endif %} 
          {{movie.genres[-1]}}
        {% endif %}
        <br>
        <span class="small-title">Director{% if movie.directors|length > 1 %}s{% endif %}:&nbsp;&nbsp;</span>
        {% if movie.directors|length != 0 %}
          {% if movie.directors|length > 1 %}
            {% for director in movie.directors[:-1] %} 
              <a href="{{ director.wikipedia_url }}">{{ director.name }}</a>,
            {% endfor %} 
          {% endif %} 
          <a href="{{ movie.directors[-1].wikipedia_url }}">{{ movie.directors[-1].name }}</a>
        {% endif %}
        <br>
        <span class="small-title">Writer{% if movie.writers|length > 1 %}s{% endif %}:&nbsp;&nbsp;</span>
        {% if movie.writers|length != 0 %}
          {% if movie.writers|length > 1 %}
            {% for writer in movie.writers[:-1] %} 
              <a href="{{ writer.wikipedia_url }}">{{ writer.name }}</a>, 
            {% endfor %} 
          {% endif %} 
          <a href="{{ movie.writers[-1].wikipedia_url }}">{{ movie.writers[-1].name }}</a>
        {% endif %}
        <br>
        <span class="small-title">Actor{% if movie.actors|length > 1 %}s{% endif %}:&nbsp;&nbsp;</span>
        {% if movie.actors|length != 0 %}
          {% if movie.actors|length > 1 %}
            {% for actor in movie.actors[:-1] %} 
              <a href="{{ actor.wikipedia_url }}">{{ actor.name }}</a>, 
            {% endfor %} 
          {% endif %} 
          <a href="{{ movie.actors[-1].wikipedia_url }}">{{ movie.actors[-1].name }}</a>
        {% endif %}
        </br>
        <span class="small-title">Overview:&nbsp;&nbsp;</span>{{ movie.overview }}

      </div>    <!-- details -->

      </div>

      <div id="graph">   <!-- graph -->
        <div id="title-graph">
          <a id="cast-graph">Would you like to see connections between lead actors and the director in other movies?</a>
        </div>

        <div id="draw-graph"></div>

        <div class="modal fade" id="Modal-graph" role="dialog">    <!-- Modal -->
          <div class="modal-dialog">
          
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modal-title" id="graph-title"></div>
                <div class="modal-comment" id="current-movie"></div>
              </div>
              <div class="modal-body">
                <p></p>
              </div>
            </div>
            
          </div>
        </div>    <!-- Modal -->

      </div>      <!-- graph -->
    
      <div id="trailer">    <!-- trailer -->
        {% if movie.trailer_url|length != 0 %} 
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{ movie.trailer_url[0] }}"></iframe>
          </div>
        {% else %}
          <img src="/static/film-64152_640.jpg" alt="No trailer" width="50%">&nbsp; &nbsp;
          <span style="font-size: 20px; font-weight: bold; vertical-align: bottom">No trailer</span>
        {% endif %}
      </div>    <!-- trailer -->

      <div align="center">
        <a href="https://www.netflix.com/login"><button class="btn watch-button">Watch on Netflix</button></a>
        <a href="https://www.hulu.com/welcome"><button class="btn watch-button">Watch on Hulu</button></a>
      </div>

    </div>      <!-- info -->

    <div class="text-justify" id="review">     <!-- review -->
      <div class="small-title">Rating:&nbsp;&nbsp;{{ movie.vote_average }} ({{ movie.vote_count }})</div>
      <div class="small-title">Reviews&nbsp;&nbsp;({{ movie.total_reviews }}):</div>
      {% for review in movie.reviews %}
        <div class="review"> 
          <u>{{ review.name }}:</u> {{ review.text}}
        </div>
        <hr>
      {% endfor %}
    </div>    <!-- review -->

  </div>  <!-- info-movie -->  

</div>  <!-- all-about-movie -->

  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
    "use strict";
    var showChar = 500;         //Total characters to show to user
    var ellipsestext = "...";   //The text displayed before “more” link
    var moretext = "more";      //The text shown in more link
    var lesstext = "less";      //The text shown in less link

    $('.review').each(function() {
      var content = $(this).html();

      if(content.length > showChar) {
        var c = content.substr(0, showChar);
        var h = content.substr(showChar-1, content.length - showChar);

        var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span style="display: none;">' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';

        $(this).html(html);
      }

    });

    $(".morelink").click(function(){
      if($(this).hasClass("less")) {
        $(this).removeClass("less");
        $(this).html(moretext);
      } else {
        $(this).addClass("less");
        $(this).html(lesstext);
      }
      $(this).parent().prev().toggle();
      $(this).prev().toggle();
      return false;
    });


  function showCastGraph(result){
    var html = '<div style="font-size: 20px; color: #fc4a1a; font-weight: bold;">Connections between lead actors and the director in other movies</div>';
    $('#title-graph').html(html);
    $("#draw-graph").html('');

    // create d3 object
    // var width = 900, height = 750, radius = 50;
    var width = $('#info').outerWidth();
    var height = 0.8 * width;
    var radius = 50;
    var sizeImage = 140;
    var strokeWidth = 8
    if (width < 480) {
      width = 340;
      radius = 30;
      strokeWidth = 3;
      sizeImage = 90;
    }
    

    var svg = d3.select("#draw-graph").append("svg")
      .attr("width", width)
      .attr("height", height);

    var borderPath = svg.append("rect")
      .attr("x", 0)
      .attr("y", 0)
      .attr("width", width)
      .attr("height", height)
      .style("stroke", "#808080")
      .style("fill", "none")
      .style("stroke-width", 2);

    var borderPath2 = svg.append("rect")
      .attr("x", 3)
      .attr("y", 3)
      .attr("width", width-6)
      .attr("height", height-6)
      .style("stroke", "#808080")
      .style("fill", "none")
      .style("stroke-width", 1);

    var force = d3.layout.force()
        .gravity(.01)
        .distance(280)
        .charge(-120)
        .size([width, height]);

    // Define the data for the nodes(circles) and links
    force
      .nodes(result.nodes)
      .links(result.links)
      .start();

    var node = svg.selectAll(".node")
      .data(result.nodes);

    var link = svg.selectAll(".link")
      .data(result.links)
      .enter().append("line")
      .attr("class", "link")
      .style("stroke","#808080")
      .style("stroke-width", function(d) { return d.movies.length; })
      .style("cursor", "pointer")
      .on("click", function(d) { 
        var html = d.source.name+' - '+d.target.name+':';
        $('#graph-title').html(html);  
        html = $('#title-movie').html()
        $('#current-movie').html(html)

        html = '';
        for (var i = 0; i < d.movies.length; i++) { 
          html += d.movies[i] + "<br>";
        }
        $('.modal-body p').html(html); 
        $('#Modal-graph').modal("show"); 

        });

    node.enter().append("g")
      .attr("class", "node")
      .call(force.drag);

    node.append("pattern")
      .attr("id", function(d) { return "person-"+d.index })
      .attr("width", sizeImage)
      .attr("height", sizeImage)
      .attr("x", -sizeImage/2)
      .attr("y", -sizeImage/2)
      .attr("patternUnits", "userSpaceOnUse")
      .append("image")
      .attr("xlink:href", function(d) { console.log(d); return d.url })
      .attr("x", 0)
      .attr("y", 0)
      .attr("width", sizeImage)
      .attr("height", sizeImage);

    node.append("circle")
      .attr("r",radius)
      .style("stroke","#008080")
      .style("stroke-width", strokeWidth)    // set the stroke width
      .style("fill", function(d) {
        if (d.url !== null) {
          return ('url(#person-'+d.index+')');  
        } else {
          return '#FFFFFF';
        }  
      });

    node.append("text")
      // .attr("dx", 35)
      // .attr("dy", 30)
      .attr("dx", sizeImage/4)
      .attr("dy", sizeImage/4)
      .style("font-weight","bold")
      .text(function(d) { return d.name });

    force.on("tick", function() {

      node.attr("cx", function(d) { return d.x = Math.max(radius, Math.min(width - radius, d.x)); })
          .attr("cy", function(d) { return d.y = Math.max(radius, Math.min(height - radius, d.y)); });

      link.attr("x1", function(d) { return d.source.x; })
          .attr("y1", function(d) { return d.source.y; })
          .attr("x2", function(d) { return d.target.x; })
          .attr("y2", function(d) { return d.target.y; });

      node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
    });
  };


  $('#cast-graph').click(function(evt){
      event.preventDefault();
      var html='<div class="loading">Loading</div>'
      $("#draw-graph").html(html);
      var movie_id = $('#title-movie').attr('data-id');
      $.get('/cast_graph.json', { "movie_id": movie_id }, showCastGraph);
  });

  </script>

{% endblock %}
















