{% extends 'base.html' %}
{% block content %}
<!-- movie object -->

<!-- It's container-fluid so it spans the whole page. -->
<div class="container-fluid"> 

  <div class="row">
    <div class="col-xs-12 col-md-8" id="title">
      {{ movie.title }} <spin hidden>{{ movie.id}}</spin>
    </div>
    <div class="col-xs-6 col-md-4" id="imdb">
      <b>IMDB</b> ({{ movie.imdb_id }}): <b>{{ movie.imdb_rating }}</b>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2 col-md-2">
      <b>Country: </b> 
    </div>
    <span class="col-xs-12 col-md-8" id="country">
      {% if movie.production_countries|length != 0 %}
        {% if movie.production_countries|length > 1 %}
          {% for country in movie.production_countries[:-1] %} 
            {{ country }}, 
          {% endfor %} 
        {% endif %} 
        {{movie.production_countries[-1]}}
      {% endif %}
    </span><br>
    <div class="col-xs-2 col-md-2">
      <b>Production Co: </b> 
    </div>
    <span class="col-xs-12 col-md-8" id="company">
      {% if movie.production_companies|length != 0 %}
        {% if movie.production_companies|length > 1 %}
          {% for company in movie.production_companies[:-1] %} 
            {{ company }}, 
          {% endfor %} 
        {% endif %} 
        {{movie.production_companies[-1]}}
      {% endif %}
    </span><br>
    <div class="col-xs-2 col-md-2">
      <b>Release Date: </b> 
    </div>
    <span class="col-xs-12 col-md-8" id="release-date">
      {{ movie.release_date }} 
    </span>
  </div>

  <div class="row" id="info-movie">

    <div class="col-xs-6 col-md-4">
      <img src="{{ movie.poster_url }}" class="img-responsive" alt="Responsive image" width="80%" height="80%">
    </div>

    <div class="col-xs-6 col-md-4">
      <b>Genre: </b>
      {% if movie.genres|length != 0 %}
        {% if movie.genres|length > 1 %}
          {% for genre in movie.genres[:-1] %} 
            {{ genre }}, 
          {% endfor %} 
        {% endif %} 
        {{movie.genres[-1]}}
      {% endif %}<br>
      <b>Director{% if movie.directors|length > 1 %}s{% endif %}: </b>
      {% if movie.directors|length != 0 %}
        {% if movie.directors|length > 1 %}
          {% for director in movie.directors[:-1] %} 
            <a href="{{ director.wikipedia_url }}">{{ director.name }}</a>,
          {% endfor %} 
        {% endif %} 
        <a href="{{ movie.directors[-1].wikipedia_url }}">{{ movie.directors[-1].name }}</a>
      {% endif %}<br>
      <b>Writer{% if movie.writers|length > 1 %}s{% endif %}: </b>
      {% if movie.writers|length != 0 %}
        {% if movie.writers|length > 1 %}
          {% for writer in movie.writers[:-1] %} 
            <a href="{{ writer.wikipedia_url }}">{{ writer.name }}</a>, 
          {% endfor %} 
        {% endif %} 
        <a href="{{ movie.writers[-1].wikipedia_url }}">{{ movie.writers[-1].name }}</a>
      {% endif %}<br>
      <b>Actor{% if movie.actors|length > 1 %}s{% endif %}: </b>
      {% if movie.actors|length != 0 %}
        {% if movie.actors|length > 1 %}
          {% for actor in movie.actors[:-1] %} 
            <a href="{{ actor.wikipedia_url }}">{{ actor.name }}</a>, 
          {% endfor %} 
        {% endif %} 
        <a href="{{ movie.actors[-1].wikipedia_url }}">{{ movie.actors[-1].name }}</a>
      {% endif %}<br>
      <b>Overview: </b>{{ movie.overview }}
    </div>

    <div class="col-xs-6 col-md-4">
      <b>Rating: </b>{{ movie.vote_average }} ({{ movie.vote_count }})<br>
      <b>Reviews:</b><br>
      {% for review in movie.reviews %}
        <p> 
          <u>{{ review.name }}:</u> {{ review.text}}
        </p>
        <hr>
      {% endfor %}
    </div>

  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8" id="title">
      {% if movie.trailer_url|length != 0 %} 
        <embed width="640" height="360" src="{{ movie.trailer_url[0] }}" frameborder="0" allowfullscreen>
      {% endif %}
    </div>
  </div>





  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script>
    "use strict";


  </script>

  </div>

{% endblock %}
















