{% extends 'base.html' %}
{% block content %}
<!-- movie object -->

<!-- It's container-fluid so it spans the whole page. -->
<div class="container-fluid" id="user-details"> 

  <div class="row">
    <div class="col-xs-12">
      <h3><b>{% if user.name %}Hi {{ user.name }},{% endif %}</b></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <b>Your favorite genre{% if genres|length > 1 %}s{% endif %}: </b>
      {% if genres|length != 0 %}
        {% if genres|length > 1 %}
          {% for genre in genres[:-1] %} 
            {{ genre.name }},&nbsp;
          {% endfor %} 
        {% endif %}
        {{ genres[-1].name }}
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-1">
      <b>Seen:</b>
    </div>
    <div class="col-xs-offset-2 col-xs-2" align="right">
      <b>Your Rating</b>
    </div>
  </div>

  {% for movie in movies %}
    <div class="row">
      <div class="col-xs-1">  
        <img src="{{ posters_url }}{{ movie.poster_url }}" class="img-thumbnail" alt="Movie poster" width="60%" height="60%">
      </div>
      <div class="col-xs-3">
        <a href="{{ url_for('get_movie', movie_id= movie.themoviedb_id) }}">{{ movie.title }}</a>
      </div>
      <div class="col-xs-1" align="center">
        {% if movie.rating %}
          <div class= "prime-circle" id="rating_{{ movie.movie_id }}">
            {{ movie.rating }}
          </div>
        {% endif %}
      </div>
      <div class="col-xs-5">
        <a class="change-rating" data-id="{{ movie.movie_id }}" style="font-size: 12px">Change rating...</a>
        <form class="change-rating" method="post" id="movie_{{ movie.movie_id }}" data-id="{{ movie.movie_id }}" hidden>
            <input type="radio" name="rating" value="1" {% if movie.rating == 1 %}checked="checked"{% endif %}> 1&nbsp;&nbsp;
            <input type="radio" name="rating" value="2" {% if movie.rating == 2 %}checked="checked"{% endif %}> 2&nbsp;&nbsp;
            <input type="radio" name="rating" value="3" {% if movie.rating == 3 %}checked="checked"{% endif %}> 3&nbsp;&nbsp;
            <input type="radio" name="rating" value="4" {% if movie.rating == 4 %}checked="checked"{% endif %}> 4&nbsp;&nbsp;
            <input type="radio" name="rating" value="5" {% if movie.rating == 5 %}checked="checked"{% endif %}> 5&nbsp;&nbsp;
            <input type="radio" name="rating" value="6" {% if movie.rating == 6 %}checked="checked"{% endif %}> 6&nbsp;&nbsp;
            <input type="radio" name="rating" value="7" {% if movie.rating == 7 %}checked="checked"{% endif %}> 7&nbsp;&nbsp;
            <input type="radio" name="rating" value="8" {% if movie.rating == 8 %}checked="checked"{% endif %}> 8&nbsp;&nbsp;
            <input type="radio" name="rating" value="9" {% if movie.rating == 9 %}checked="checked"{% endif %}> 9&nbsp;&nbsp;
            <input type="radio" name="rating" value="10" {% if movie.rating == 10 %}checked="checked"{% endif %}> 10&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit">
        </form>
      </div>    
    </div>
  {% endfor %}
  
</div>  

<script src="http://code.jquery.com/jquery.js"></script>
<script>
  "use strict";


  function showNewMovieRating(result){
    $('#movie_'+result['movie_id']).hide();
    $('#rating_'+result['movie_id']).html(result['rating']);
  }

  function changeMovieRating(evt) {
    //debugger;
    event.preventDefault();
    var movie_id = $(this).attr('data-id');
    var rating = $('#movie_'+movie_id+' input[name="rating"]:checked').val();

    $.post('/change_rating.json', {"movie_id": movie_id, "rating": rating}, showNewMovieRating);
  }


  $('a.change-rating').click(function(){
      var movie_id = $(this).attr('data-id');
      $('#movie_'+movie_id).show();
  });

  $('form.change-rating').on('submit', changeMovieRating); 


</script>

{% endblock %}
















